<%= search_field(:user, :name) %>
<%=radio_button("post", "category", "rails") %>
<%= month_field("user", "born_on") %>
<ul>
 <li><%= button_tag 'Button2', type: 'button', class: 'button' %> </li>
</ul>
<div class= "main_tag8">
<ul>
	
	<li><%= check_box_tag 'main_tag1', 'statics', false, class: 'main_tag' %><%= label_tag(:main_tag1, "통계학") %>
	<li><%= check_box_tag 'main_tag2', 'club', false, class: 'main_tag' %><%= label_tag(:main_tag2, "동아리")%></li>
	<li><%= check_box_tag 'main_tag3', 'club', false, class: 'main_tag' %><%= label_tag(:main_tag3, "동아리2") %></li>
	<li><%= file_field_tag 'attachment'%></li>
</ul>
</div>