
<div class = "buttons">
	<ul>
		<li><%= button_to "내가 찜한 행사", action: "new" %></li>
		<li><%= button_to "행사 등록하기", action: "new", remote: true, method: "post" %></li>
		<li><%= button_to "등록한 행사", action: "new" %></li>
		<li><%= button_to "내 정보 관리", action: "new" %></li>
	</ul>
</div>




<section id = "like_list">
	<% @user_events.each do |e|%>
	<div class="my_pages_container">



		<!--표 영역-->
		<div class="like_table">
		<div class="th"><p><%= e.title %></p></div>
		<div class="td1"><p><%= e.date %></p>	</div>
		<div class="td2"><p><%= e.location %></p></div>
			<p><%= e.text%>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
			<div class="show_tag"><p>태그1<!-- tag--></p><p>태그2<!-- tag--></p>
			</div></div>

			<!--포스터영역-->
		<div class="list-poster" style="max-height: 100%">
			  <%=image_tag "bluearrow.png" %>
		</div>
		<% end %>

	</section>


	<aside id="my_pages_side-button">
		<!--<%= submit_tag("search", :class=>"search-button")%>-->

		<button class="kakaotalk">kakao</button>
		<!--<button class="kakaotalk">kakao</button>-->
	</aside>
