

<%= form_with scope: :event, url: my_pages_index_path, local: true do |f| %>

<!-------양식 안지켰을때 뜰 에러메시지 ------->
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@article.errors.count, "error") %> 글자수 안맞아서 저장이 안댔어요!:
  </h2>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>

<% end %> 


<div class = "create_form_left">
  <p>
    <%= f.label :제목, :class => "label_name" %>
    <%= f.text_field :title, :class => "title_field" %>
  </p>
  <p>
    <%= f.label :일시, :class => "label_name" %>
    <%= f.datetime_select :date, start_year: @year, ampm: true, prompt: {month: '월', day: '일', hour: '시간' }, :class => "datetime_select" %>
  </p>
  <p>
    <%= f.label :장소, :class => "label_name" %>
    <%= f.text_field :location, :class => "location_field" %>
  </p>
  <p>
    <%= f.label :이미지, :class => "label_name" %>
    <%= f.file_field :image, :class => "image_field" %>
  </p>
  
  <p>
    <%= f.label :본문, :class => "label_name" %>
    <%= f.text_area :text, :class => "text_field" %>
  </p>
  <p> <!--(여기를 tag model의 key로 설정해두면 되겠다!)  -->
    <%= f.label :Tag, :class => "label_name"%>
    <% @tags.each do |t| %>
    <%= t.name %>
    <% end %>
 

 
  <div class = "create_form_right">
    <p>
      <%= f.submit("행사찾기", :class =>"submit") %>
    </p>
  </div>
  <% end %>

  <%= link_to '마이페이지로 가자', my_pages_path%>



