
<% if @event %>

<section id="eventdetail">
  <!--전체 상세 페이지 영역입니다-->
  <!--행사 이름을 보여주는 영역입니다-->
  <div class="event-name">


    <% e = @event %>
    <p><%= e.title%></p>
  </div>
  <!--행사 정보를 보여주는 영역입니다-->
  <div class="event-info">
    <ul class=eventinfo><div class="event-info_firstitem">
      <li class = "col-1"> 일시 <%= e.date %></li>
      <li class = "col-1"> 장소 <%= e.location %></li>
      <li class = "col-1"> 분류 <%@tag.each do|t|%><%=t.name%> <%end%></li></ul>
    </div>
    <div class="event-info_seconditem">
      <span class="col-1">  본문 <%= e.text %></span>
    </div>

    <!--poster를 보여주는 영역입니다.-->
    <div class="show_poster">
      <%=image_tag e.image.url %>
      <div class="show-poster_wrapper">
      </div></div>



      <aside id="side-button">
        <!--<%= submit_tag("search", :class=>"search-button")%>-->

        <button class="like">like</button>
        <!--<button class="kakaotalk">kakao</button>-->
      </aside>

    </section>
    <% end %>