<!-- 마이페이지 탬플릿--> 

<tr>
<td><%=link_to '내가 찜한 행사', my_pages_new_path %></td>
<td><%=link_to '행사 올리기', events_new_path %></td>		
<td><%=link_to '등록된 행사', events_new_path %></td>
<td><%=link_to '내정보 관리', my_pages_new_path %></td>
</tr>

<% @like_events.each do|e| %>
<div>
	<%=e.title %>
</div>
<% end %>

